/* ===========================@NavBar=========================== */
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  font-size: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all .8s ease-in-out;
}

header .logo-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-left: 0;
}

header .logo-box a i {
  font-size: 2rem;
}

header .logo-box a span {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav ul li:hover:not(ul li.a-active) {
  /* animation: pulse 1s infinite; */
}

header nav ul li a {
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

header nav ul li a:hover:not(ul li a.active) {
  color: #A21ADE;
}

header nav ul li a.active {
  background-color: #262626;
}

header .cta-contact_us a {
  color: #FEFEFE;
  background-color: #A21ADE;
}

header .cta-contact_us a:hover {
  background-color: transparent;
  border-color: #A21ADE;
}

header .menu-icon-box {
  display: none;
  z-index: 9999;
}

header .menu-icon-box .menu-icon {
  font-size: 2rem;
  padding: .8rem;
  border-radius: 8px;
  background-color: #262626;
}


@media (max-width: 1110px) {
  header.show-menu {
    height: 100vh;
    align-items: flex-start;
    background-color: #232323;
    animation: fadeInDown 1s;
  }

  header nav {
    display: none;
  }

  header.show-menu nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    padding: 1rem;
  }

  header.show-menu nav ul {
    flex-direction: column;
  }

  header nav ul li a {
    padding: .3rem .7rem;
    font-size: 1.2rem;
  }

  header nav ul li a.active {
    color: #A21ADE;
    background-color: transparent;
  }

  header nav ul li a:hover:not(ul li a.active) {
    color: unset;
    text-decoration: underline;
  }

  header .cta-contact_us {
    display: none;
  }

  header .menu-icon-box {
    display: block;
    padding: 2rem;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  header.show-menu nav {
    top: 50%;
  }

  header .logo-box a {
    padding: 1.5rem;
    padding-left: 0;
  }

  header .menu-icon-box {
    padding: 1.5rem;
    padding-right: 0;
  }
}

@media (max-height: 500px) {
  header.show-menu nav {
    top: 50%;
  }
}

/* ===========================@Footer=========================== */
footer {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

footer .footer_first_part,
footer .footer_second_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

footer .footer_first_part .logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2rem 0;
}

footer .footer_first_part .logo-box .logo i {
  font-size: 2rem;
}

footer .footer_first_part .logo-box .logo span {
  font-weight: bold;
  font-size: 1.5rem;
}

footer .footer_first_part nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

footer .footer_first_part nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding-right: .7rem;
}

footer .footer_first_part nav ul li a {

  transition: all .3s ease-in-out;
}

footer .footer_first_part nav ul li a:hover {
  color: #A21ADE;
}

footer .footer_first_part nav .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 14px 8px 14px 20px;
  border: 1px solid #262626;
  border-radius: 12px;
}

footer .footer_first_part nav .social_media .social_links_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

footer .footer_first_part nav .social_media .social_links_icons a {
  /* font-size: 2rem; */
  /* color: #262626; */
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  transition: all .3s ease-in-out;
  border: 1px #2E2E2E solid;
  border-bottom: none;
  border-radius: 8px;
  padding: .8rem;
}

footer .footer_first_part nav .social_media .social_links_icons a i {
  font-size: 1.5rem;
}

footer .footer_second_part {
  border-top: 1px solid #262626;
}

footer .footer_second_part .info_about_us-box {
  display: flex;
  justify-content: center;
  gap: .8rem;
  color: #FDFDFF;
}

footer .footer_second_part .info_about_us-box div,
footer .footer_second_part .info_about_us-box a {
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-bottom: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

footer .footer_second_part .copyright-box span {
  color: #98989A;
}


@media (max-width: 1010px) {

  footer .footer_first_part,
  footer .footer_second_part {
    flex-direction: column;
    padding-top: 0;
  }

  footer .footer_first_part nav {
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
    border-top: 1px solid #292929;
  }
}

@media (max-width: 685px) {
  footer .footer_first_part nav {
    width: 100%;
  }

  footer .footer_first_part nav .social_media {
    flex-direction: column !important;
  }

  footer .footer_second_part {
    border-top: unset !important;
    border: none !important;
  }

  footer .footer_second_part .info_about_us-box {
    flex-direction: column;
    width: 100%;
  }

  footer .footer_second_part .info_about_us-box div,
  footer .footer_second_part .info_about_us-box a {
    padding-bottom: 1.5rem !important;
  }

  footer .footer_second_part .copyright-box {
    padding-top: 1.5rem !important;
    text-align: center;
  }
}

/* ===========================@Page Accueil=========================== */

/* Style générale pour toutes les sections */
.hero-section,
.trust-on-us,
.our-services,
.why-us,
.testimonies,
.faq,
.start_project{
  border-left: 1px solid #292929;
  border-right: 1px solid #292929;
}

main .our-services .heading,
main .why-us .heading,
main .testimonies .heading,
main .faq .heading,
main .start_project .heading{
  padding: 7rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main .our-services .heading h2,
main .why-us .heading h2,
main .testimonies .heading h2,
main .faq .heading h2,
main .start_project .heading h2{
  text-align: center
}

main .our-services .heading p,
main .why-us .heading p,
main .testimonies .heading p,
main .faq .heading p,
main .start_project .heading p{
  text-align: center;
  font-size: 1.1rem;
}

main .our-services .content .service .container-service .paragraph p,
.why-us .content .container .container-why .paragraph p {
  color: #E6E6E6;
  font-size: 1.1rem;
}

@media (max-width: 900px) {

  main .our-services .heading,
  main .why-us .heading,
  main .testimonies .heading,
  main .faq .heading,
  main .start_project .heading{
    padding: 7rem 5rem;
  }
}

@media (max-width: 800px) {
  main {
    padding: 0;
  }

  .our-services,
  .why-us,
  .testimonies,
  .faq,
  .start_project{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  main .our-services .heading,
  main .why-us .heading,
  main .testimonies .heading,
  main .faq .heading,
  main .start_project .heading{
    padding: 7rem .8rem;
  }
}

@media (max-width: 500px) {

  /* header,
  main,
  footer {
    padding: 0 .5rem;
  } */
}

/* Fin style générale pour toutes les sections */

.hero-section {
  background: url('../assets/images/home-page/bg-hero-section.svg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-section h1 {
  text-align: center;
}

.hero-section .for-startup_and_more {
  border: 1px solid #292929;
  border-radius: 12px;
  padding: 1rem 2rem;
  background: rgba(36, 36, 36, 0.20);
  backdrop-filter: blur(12px);
}

.hero-section .for-startup_and_more p {
  color: #98989A;
  font-size: 1.375rem;
  text-align: center;
}

.hero-section .for-startup_and_more p .detail {
  color: #fff;
  background-color: #262626;
  border: 1px solid #333;
}

.hero-section .cta_hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  gap: 1.5rem;
}

.hero-section .cta_hero-section div a {
  border-color: #262626;
  font-weight: 500;
  font-size: 1.2rem;
}

.hero-section .cta_hero-section div.realisation a {
  /* background: #A21ADE; */
  background: #A21ADE;
  /* color: #1E1A1A; */
}

.hero-section .cta_hero-section div.realisation a:hover {
  background: rgba(36, 36, 36, 1);
  border: 1px #333333 solid;
  /* color: #E6E6E6; */
}

.hero-section .cta_hero-section div.contact a {
  border: 1px #333333 solid;
  background: rgba(36, 36, 36, 1);
}

.hero-section .cta_hero-section div.contact a:hover {
  border: 1px #333333 solid;
  background: #A21ADE;
  /* color: #1E1A1A; */
}

@media (max-width: 950px) {
  .hero-section .for-startup_and_more p {
    font-size: 1rem;
  }

  .hero-section .for-startup_and_more p .detail {
    color: #98989A;
    background-color: unset;
    border: unset;
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .hero-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 600px) {
  .hero-section {
    height: auto;
    padding: 5rem 1rem;
  }

  .hero-section .cta_hero-section {
    gap: 2.5rem;
  }
}

main .our-services {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

main .our-services .heading {
  background: url("../assets/images/home-page/bg-our-service.svg") no-repeat center center/cover;
}

main .our-services .content {
  display: flex;
  align-items: flex-start;
}

main .our-services .content .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  padding-bottom: 1rem;
}

main .our-services .content .service:not(:last-child) {
  border-right: 1px solid #292929;
}

main .our-services .content .service .container-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main .our-services .content .service .container-service .icon-and-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main .our-services .content .service .container-service .service-icon {
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  border: 1px #2E2E2E solid;
  border-bottom: none;
  border-radius: 8px;
  padding: .8rem;
}

main .our-services .content .service .container-service .service-icon img {
  width: 2.5rem;
}

/* main .our-services .content .service .container-service h3 {
  font-size: 1.8rem;
} */

main .our-services .content .service .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .our-services .content .service .button a {
  background: #262626;
  border: 1px #262626 solid;
  color: #FFFFFF;
  transition: all .3s ease-in-out;
  width: 100%;
  text-align: center;
}

main .our-services .content .service .button a:hover {
  border: 1px #A21ADE solid;
}

@media (max-width: 900px) {
  main .our-services .content .service {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  main .our-services .content {
    flex-direction: column;
  }

  main .our-services .content .service:not(:last-child) {
    border-right: unset;
    border-bottom: 1px solid #292929;
  }

  main .our-services .content .service .container-service .icon-and-title {
    align-items: center;
    gap: 1.4rem;
    flex-direction: row;
  }
}

main .why-us .heading {
  background: url("../assets/images/home-page/bg-why-us.svg") no-repeat center center/cover;
}

main .why-us .content .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .why-us .content .container:not(:last-child) {
  border-bottom: 1px solid #292929;
}

main .why-us .content .container .container-why {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

main .why-us .content .container .container-why:not(:last-child) {
  border-right: 1px solid #292929;
}

.why-us .content .container .container-why .icon-and-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.why-us .content .container .container-why .icon-and-title .service-icon {
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  border: 1px #2E2E2E solid;
  border-bottom: none;
  border-radius: 8px;
  padding: .8rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 5rem;
  height: 5rem; */
}

.why-us .content .container .container-why .icon-and-title .service-icon i {
  width: 2.5rem;
  font-size: 2.5rem;
  color: #A21ADE;
}

@media (max-width: 900px) {
  main .why-us .content .container .container-why {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  main .why-us .content .container {
    display: flex;
    flex-direction: column;
    border: unset;
  }

  main .why-us .content .container .container-why {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  main .why-us .content .container .container-why:not(:last-child) {
    border-right: unset;
    border-bottom: 1px solid #292929;
  }
}

main .testimonies .heading {
  background: url("../assets/images/home-page/bg-testimonies.svg") no-repeat center center/cover;
}

main .testimonies .content .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .testimonies .content .container:not(:last-child) {
  border-bottom: 1px solid #292929;
}

main .testimonies .content .container .container-testimonies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.5rem 2rem;
  gap: 2rem;
}

main .testimonies .content .container .container-testimonies:not(:last-child) {
  border-right: 1px solid #292929;
}

main .testimonies .content .container .container-testimonies h3 {
  color: #D89AFF;
}

main .testimonies .content .container .container-testimonies .container-info-client {
  display: flex;
  align-items: center;
  background: rgba(36, 36, 36, 0.20);
  gap: .7rem;
  border-radius: .5rem;
  border: 1px solid #262626;
  padding: 1.25rem;
  width: 100%;
}

main .testimonies .content .container .container-testimonies .container-info-client .image-client {
  width: 70px;
  height: 70px;
  background: linear-gradient(0deg, #BF99D7 0%, #BF99D7 100%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .testimonies .content .container .container-testimonies .container-info-client .image-client img {
  border-radius: 8px;
}

main .testimonies .content .container .container-testimonies .container-info-client .identite-client .name span {
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 500;
}

main .testimonies .content .container .container-testimonies .container-info-client .identite-client .post span {
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 900px) {
  main .testimonies .content .container .container-testimonies {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  main .testimonies .content .container {
    display: flex;
    flex-direction: column;
    border: unset;
  }

  main .testimonies .content .container .container-testimonies {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  main .testimonies .content .container .container-testimonies:not(:last-child) {
    border-right: unset;
    border-bottom: 1px solid #292929;
  }
}

main .faq .heading {
  background: url("../assets/images/home-page/bg-faq.svg") no-repeat center center/cover;
}

main .faq .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .faq .content .faq-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

main .faq .content .faq-container:not(:last-child){
  border-right: 1px solid #292929;
}

main .faq .content .faq-container .faq{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 3rem 2rem;
}

main .faq .content .faq-container .faq:not(:last-child){
  border-bottom: 1px solid #292929;
}

main .faq .content .faq-container .faq .num-faq{
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  border: 1px #2E2E2E solid;
  border-bottom: none;
  border-radius: 8px;
  padding: .8rem;
}

main .faq .content .faq-container .faq .num-faq span{
  font-size: 2rem;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

main .faq .content .faq-container .open-answer .num-faq span{
  color: #BF99D7;
}

main .faq .content .faq-container .faq .question-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .faq .content .faq-container .faq .question-content .question-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

main .faq .content .faq-container .faq .question-content .question-box .icon-open-answer{
  transition: all .3s ease-in-out;
}

main .faq .content .faq-container .faq .question-content .question-box .icon-open-answer i{
  font-size: 2rem;
  transition: all .3s ease-in-out;
}

main .faq .content .faq-container .open-answer .question-content .question-box .icon-open-answer{
  transform: rotate(45deg);
}

main .faq .content .faq-container .open-answer .question-content .question-box .icon-open-answer i{
  color: #BF99D7;
}

main .faq .content .faq-container .faq .question-content .answer{
  display: none;
  animation: fadeInDown;
  animation-duration: .5s;
}

main .faq .content .faq-container .open-answer .question-content .answer{
  display: block;
}

main .faq .contact-faq{
  display: flex;
  justify-content: center;
  /* margin: 2rem; */
}

main .faq .contact-faq a{
transition: all .3s ease-in-out;
  background: #A21ADE;
}
main .faq .contact-faq a:hover{
  background: transparent;
  border-color: #A21ADE;
}

@media (max-width: 925px) {
  main .faq .content .faq-container .faq{
    gap: 1.5rem;
    padding: 2.5rem 1rem;
  }
}

@media (max-width: 800px){
  main .faq .content{
    grid-template-columns: 1fr;
  }
  main .faq .content .faq-container {
    align-items: center;
    border: unset!important;
  }
  main .faq .content .faq-container .faq{
    border: unset!important;
    border-bottom: 1px solid #292929!important;
    padding: 2rem 1rem !important;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }
}

@media (max-width: 640px){
  main .faq .content .faq-container .faq .num-faq span{
    font-size: 1.5rem;
  }
}
@media (max-width: 450px){
  main .faq .content .faq-container .faq .question-content .question-box h4{
    font-size: 1.3rem;
  } 
}


main .start_project .heading {
  background: url("../assets/images/home-page/bg-contact.svg") no-repeat center center/cover;
}

main .start_project .heading .logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2rem 0;
}

main .start_project .heading .logo-box .logo i {
  font-size: 2rem;
}

main .start_project .heading .logo-box .logo span {
  font-weight: bold;
  font-size: 1.5rem;
}

main .start_project .heading .cta-start-project{
  margin-top: 2rem;
}

main .start_project .heading .cta-start-project a{
  background: #A21ADE;
  transition: all .3s ease-in-out;
}
main .start_project .heading .cta-start-project a:hover{
  background: transparent;
  border-color: #A21ADE;
}

main .start_project .content{
  padding: 0 2rem;
  border-top: 1px #262626 solid; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  display: flex;
}

main .start_project .content form{
  width: 70%;
  padding: 80px 2rem; 
  border: 1px #262626 solid; 
  flex-direction: column; 
  justify-content: center;
  gap: 40px; 
  display: flex;
}

main .start_project .content form .name_email-box{
  
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 2rem; 
  display: inline-flex;
}

main .start_project .content form .name_email-box .name-input,
main .start_project .content form .name_email-box .email-input,
main .start_project .content form .why_contacting_us,
main .start_project .content form .ur_budget,
main .start_project .content form .message{
  flex: 1;
  padding: 1.2rem 1rem; 
  background: rgba(36, 36, 36, 0.50); 
  border-radius: 8px; 
  border: 1px #262626 solid; 
}

main .start_project .content form .name_email-box .name-input,
main .start_project .content form .name_email-box .email-input{
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start;
  gap: 20px; 
  display: inline-flex;
}

form label{
  color: #fff; font-size: 22px;  
  font-weight: 500; 
  line-height: 33px; 
  word-wrap: break-word;
}

form input[type="text"],
form input[type="email"],
form textarea{
  color: #fff; 
  font-size: 22px;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid #292929;
  padding: .8rem .3rem;
  resize: vertical;
}

form .title:not(label.title){
  font-size:1.5rem;
  font-weight: 600;
  color: #fff;
  /* margin-bottom: 200rem; */
}

form input::placeholder,
form textarea::placeholder{
  color: #656567; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 27px; 
  word-wrap: break-word;
}

form .why_contacting_us .why,
form .ur_budget .min_max{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

form .submit{
width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input[type="submit"]{
  width: 50%;
  transition: all .3s ease-in-out;
  background: #A21ADE;
}

form input[type="submit"]:hover{
  background: unset;
  border-color: #A21ADE;
}

@media (max-width: 1110px){
  main .start_project .content form{
    width: 80%;
  }
}

@media (max-width: 920px){
  main .start_project .content form{
    width: 90%;
    padding: 3rem 1rem; 
  }
}

@media (max-width: 800px){
  main .start_project .content form{
    width: 100%;
    border: unset!important;
  }
  main .start_project .content form .name_email-box {
    flex-direction: column;
    width: 100%;
  }
  main .start_project .content form .name_email-box *{
  width: 100%;
  }

  form .why_contacting_us .why, form .ur_budget .min_max {
    flex-direction: column;
    gap: 0!important;
  }
  form input[type="checkbox"]{
    margin-right: 1rem;
  }
  form input[type="submit"]{
    width: 100%;
    transition: all .3s ease-in-out;
    background: #A21ADE;
  }
}

@media (max-width: 700px){
  main .start_project .content{
    padding: 0;
  }
}


/* ===========================@Page A Propos=========================== */





/* ===========================@Page Realisations=========================== */




/* ===========================@Page Nos Services=========================== */




/* ===========================@Page Contact=========================== */