/* ===========================@NavBar=========================== */
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  font-size: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all .8s ease-in-out;
}

header .logo-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-left: 0;
}

header .logo-box a i {
  font-size: 2rem;
}

header .logo-box a span {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav ul li:hover:not(ul li.a-active) {
  /* animation: pulse 1s infinite; */
}

header nav ul li a {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

header nav ul li a:hover:not(ul li a.active) {
  color: #B97AE0;
}

header nav ul li a.active {
  background-color: #262626;
}

header .cta-contact_us a {
  padding: .5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid transparent;
  color: #FEFEFE;
  background-color: #B97AE0;
  transition: all .3s ease-in-out;
}

header .cta-contact_us a:hover {
  background-color: transparent;
  border-color: #B97AE0;
}

header .menu-icon-box {
  display: none;
}

header .menu-icon-box .menu-icon {
  font-size: 2rem;
  padding: .8rem;
  border-radius: 8px;
  background-color: #262626;
}


@media (max-width: 1110px) {
  /* header .logo-box a i {
    font-size: 1.8rem;
  }

  header .logo-box a span {
    font-weight: bold;
    font-size: 1.3rem;
  } */

  /* header.show-menu */
  header.show-menu {
    height: 100vh;
    align-items: flex-start;
    background-color: #232323;
    animation: fadeInDown 1s;
  }

  header nav {
    display: none;
  }

  header.show-menu nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    padding: 1rem;
  }

  header.show-menu nav ul {
    flex-direction: column;
  }

  header nav ul li a {
    padding: .3rem .7rem;
    font-size: 1.2rem;
  }

  header nav ul li a.active {
    color: #B97AE0;
    background-color: transparent;
  }

  header nav ul li a:hover:not(ul li a.active) {
    color: unset;
    text-decoration: underline;
  }

  header .cta-contact_us {
    display: none;
  }

  header .menu-icon-box {
    display: block;
    padding: 2rem;
    padding-right: 0;
  }
}

@media (max-width: 500px) {
  header.show-menu nav {
    top: 50%;
  }

  header .logo-box a {
    padding: 1.5rem;
    padding-left: 0;
  }

  header .menu-icon-box {
    padding: 1.5rem;
    padding-right: 0;
  }
}

/* ===========================@Footer=========================== */
footer {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

footer .footer_first_part,
footer .footer_second_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

footer .footer_first_part .logo-box .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 2rem 0;
}

footer .footer_first_part .logo-box .logo i {
  font-size: 2rem;
}

footer .footer_first_part .logo-box .logo span {
  font-weight: bold;
  font-size: 1.5rem;
}

footer .footer_first_part nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

footer .footer_first_part nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding-right: .7rem;
}

footer .footer_first_part nav ul li a {

  transition: all .3s ease-in-out;
}

footer .footer_first_part nav ul li a:hover {
  color: #B97AE0;
}

footer .footer_first_part nav .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 14px 8px 14px 20px;
  border: 1px solid #262626;
  border-radius: 12px;
}

footer .footer_first_part nav .social_media .social_links_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

footer .footer_first_part nav .social_media .social_links_icons a {
  /* font-size: 2rem; */
  /* color: #262626; */
  background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  transition: all .3s ease-in-out;
  border: 1px #2E2E2E solid;
  border-bottom: none;
  border-radius: 8px;
  padding: .8rem;
}

footer .footer_first_part nav .social_media .social_links_icons a i {
  font-size: 1.5rem;
}

footer .footer_second_part {
  border-top: 1px solid #262626;
}

footer .footer_second_part .info_about_us-box {
  display: flex;
  justify-content: center;
  gap: .8rem;
  color: #FDFDFF;
}

footer .footer_second_part .info_about_us-box div,
footer .footer_second_part .info_about_us-box a {
  padding-top: .8rem;
  padding-bottom: .8rem;
  border-bottom: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

footer .footer_second_part .copyright-box span {
  color: #98989A;
}


@media (max-width: 985px) {

  footer .footer_first_part,
  footer .footer_second_part {
    flex-direction: column;
    padding-top: 0;
  }

  footer .footer_first_part nav {
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
    border-top: 1px solid #292929;
  }
}

@media (max-width: 685px) {
  footer .footer_first_part nav {
    width: 100%;
  }

  footer .footer_first_part nav .social_media {
    flex-direction: column !important;
  }

  footer .footer_second_part {
    border-top: unset !important;
    border: none !important;
  }

  footer .footer_second_part .info_about_us-box {
    flex-direction: column;
    width: 100%;
  }

  footer .footer_second_part .info_about_us-box div,
  footer .footer_second_part .info_about_us-box a {
    padding-bottom: 1.5rem !important;
  }

  footer .footer_second_part .copyright-box {
    padding-top: 1.5rem !important;
    text-align: center;
  }
}

/* ===========================@Page Accueil=========================== */




/* ===========================@Page A Propos=========================== */





/* ===========================@Page Realisations=========================== */




/* ===========================@Page Nos Services=========================== */




/* ===========================@Page Contact=========================== */